<nav id="container">
    <ul>
        <li>
            <a href="">Blog</a>
        </li>
        <li>
            <a href="">About</a>
        </li>
    </ul>
</nav>

<style>
    ul{
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    li{
        display: inline-block;
    }
    a{
        text-decoration: none;
    }

   nav{
        justify-items: end;
        height: 6rem;
        font-size: 2rem;
        padding: 1rem 11.2rem 5rem;
    }
</style>
