<div id="container">
    <hr>
    <h1>THE BLOG</h1>
    <hr>
</div>

<style>
    h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 24.38rem;

    }
    #container {
        height: 29.5rem;
        padding: 1rem 11.2rem 5rem;
    }
</style>